@import '~@sendgrid/design-primitives/tokens/design-components/scss/global.scss';

.banner {
  display: flex;
  background: linear-gradient(45deg, $color-blue, #b094ff 65%);
  padding: 20px;
  min-width: 900px;

  h1,
  p,
  i {
    color: white;
  }

  i {
    cursor: pointer;
    align-self: flex-start;
    margin: 0 0 0 auto;
    font-weight: bold;
  }
}

.image-wrap {
  min-width: 320px;
}

.main-content {
  padding: 20px 0 15px 70px;
  margin-right: 115px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.actions {
  margin: 0 0 0 auto;
}

.learn-more {
  margin-right: 45px;

  a {
    color: white;
  }
}
