.scroll-button {
  bottom: 30px;
  display: flex;
  float: right;
  height: 30px;
  justify-content: center;
  right: 30px;
  opacity: 0;
  padding: 0;
  position: fixed;
  -webkit-transition: opacity 300ms ease-in-out;
  width: 50px;

  &.is-visible {
    opacity: 1;
  }

  :global(.sg-icon-sort-asc) {
    font-size: 28px;
    margin-right: 0;
  }
}
