@import '~@sendgrid/design-primitives/tokens/design-components/scss/global.scss';

.banner {
  position: relative;
  display: flex;
  background: linear-gradient(45deg, $color-blue, #b094ff 65%);
  padding: 20px;
  min-width: 900px;

  h1,
  p,
  i {
    color: white;
  }

  i {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-weight: bold;
  }
}

.image-wrap {
  position: relative;
  min-width: 320px;

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.main-content {
  padding: 20px 20px 15px 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.actions {
  margin: 0 0 0 auto;
}

.learn-more {
  margin-right: 45px;

  a {
    color: white;
  }
}

.centered-content {
  display: inline-flex;
  margin: auto;
}
