@import '~@sendgrid/design-primitives/tokens/design-components/scss/banner-message.scss';

.banner-message {
  display: inline-block;
  font-size: $banner-message-font-size;
  padding: $banner-message-padding;
  text-align: left;
  background-color: $banner-message-background-color;
  border-left-width: $banner-message-border-width;
  border-left-style: $banner-message-border-type;
  border-left-color: $banner-message-border-color;

  &-beta {
    background-color: $banner-message-beta-background-color;
    border-left-color: $banner-message-beta-border-color;
  }

  a {
    text-decoration: underline;
  }
}
